
@narrowWidth : 470px;
@defaultFontSize : 50px;

.divStyle(@fontsize){
    div{
      text-align: center;
     font-size: @fontsize;
     position: relative;
    }
}
.h2Style(){
    h2{
        text-align: center;
        margin-top: 0px;
       position: relative;  
    }
}
.details{
  padding-bottom: 5px;
}
.notes {
    font-size: 20px;
    display: block;
  }

@media screen and (max-width:@narrowWidth ) { /*quarter screen*/

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  font-size: @defaultFontSize;
  position: relative;
}

.divStyle(20px);


.h2Style();

div{

   @defaultpadding : 10px;
   &.crimes{
        
      padding-top: @defaultpadding;
      padding-bottom: 0px;
      
     p{
        text-align: center;
        display: flex;
        font-size: 20px;
        position: relative;
        padding-top:@defaultpadding;
        }
   }
}


  img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  hr {
    width: 300px;
  }


body {
  background-image: url("http://www.sticksite.com/wanted_posters/paper(5).jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 800px;
  background-color: black;
    }
  
}
@media screen and (min-width:@narrowWidth){ /*half screen*/

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  font-size: @defaultFontSize;
  position: relative;
}

.divStyle(25px);

.h2Style();


.details2{
  padding-top: 5px;
}

.crimes{
  padding-top: 5px;
  padding-bottom: 0px;
}


p{
  text-align: center;
  font-size: 25px;
  position: relative;
}
img {
  display: block;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  
}

hr{
  width:600px;
}

body {
  background-image: url("http://www.sticksite.com/wanted_posters/paper(5).jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 770px;
  background-color: black;
}

}
@media screen and (min-width:833px){ /*full screen*/
body {
      background-size: 800px;

}
}






