@media screen and (max-width: 470px) {
  /*quarter screen*/
  h1 {
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    font-size: 50px;
    position: relative;
  }
  div + h1 {
    text-align: center;
    position: relative;
  }
  div {
    text-align: center;
    display: block;
    font-size: 20px;
    position: relative;
  }
  h2 {
    text-align: center;
    margin-top: 0px;
    position: relative;
  }
  .details {
    padding-bottom: 5px;
  }
  div.crimes {
    padding-top: 10px;
  }
  div > p {
    padding-top: 10px;
  }
  .crimes {
    padding-bottom: 0px;
  }
  p.crimes {
    height: 100px;
  }
  p {
    text-align: center;
    display: flex;
    font-size: 20px;
    position: relative;
  }
  .notes {
    font-size: 20px;
    display: block;
  }
  img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  hr {
    width: 300px;
  }
  body {
    background-image: url("http://www.sticksite.com/wanted_posters/paper(5).jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 800px;
    background-color: black;
  }
}
@media screen and (min-width: 470px) {
  /*half screen*/
  * {
    display: grid;
    grid-auto-flow: row;
  }
  h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    font-size: 50px;
    position: relative;
  }
  div + h1 {
    text-align: center;
    position: relative;
  }
  div {
    text-align: center;
    font-size: 25px;
    position: relative;
  }
  h2 {
    text-align: center;
    margin-top: 0px;
    position: relative;
  }
  .details {
    padding-bottom: 5px;
  }
  .details2 {
    padding-top: 5px;
  }
  .crimes {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  p {
    text-align: center;
    font-size: 25px;
    position: relative;
  }
  .notes {
    font-size: 20px;
  }
  img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  hr {
    width: 600px;
  }
  body {
    background-image: url("http://www.sticksite.com/wanted_posters/paper(5).jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 770px;
    background-color: black;
  }
}
@media screen and (min-width: 833px) {
  /*full screen*/
  h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    font-size: 50px;
    position: relative;
  }
  div + h1 {
    text-align: center;
    position: relative;
  }
  div {
    text-align: center;
    display: block;
    font-size: 25px;
    position: relative;
  }
  h2 {
    text-align: center;
    margin-top: 0px;
    position: relative;
  }
  .details {
    padding-bottom: 5px;
  }
  .details2 {
    padding-top: 5px;
  }
  .crimes {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  p {
    text-align: center;
    display: block;
    font-size: 25px;
    position: relative;
  }
  .notes {
    font-size: 20px;
    display: block;
  }
  img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  hr {
    width: 600px;
  }
  body {
    background-image: url("http://www.sticksite.com/wanted_posters/paper(5).jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 800px;
  }
}
